@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="border rounded-2 w-50 pb-2" >
     
    <form method="post" asp-page-handler="Generate">
        <div class="ms-2 pb-3">
            <label class="p-2 font-monospace fw-normal text-body">Shorten Long Url</label>
            <input type="url" class="form-control w-75 ms-2" id="inputUrl" name="inputUrl" placeholder="www.example.com">
        </div>
        <button type="submit" class="btn btn-primary ms-3">Submit</button>
    </form>
</div>

<div class="mt-3 pb-5 text-start">
    @if(Model.ShortenDatas == null || !Model.ShortenDatas.Any())
    {
        <h3 class="text-center">No data avaialable</h3>
    }
    else
    {
        <h3>Short Url List</h3>
        <table class="table primary  table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col"> Url Long</th>
                    <th scope="col">ShortLink</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model!.ShortenDatas!)
                {
                    <tr>
                        <td>@data.Url</td>
                        <td>
                            <a asp-page="/Redirect" asp-route-redirectString="@data.ShortCode">@(Request.Host+"/"+data.ShortCode)</a>
                        </td>
                        <td>@data.CreatedAt</td>
                        <td>@data.UpdatedAt</td>
                        <td>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="shortCode" value="@data.ShortCode"/>
                                <button type="submit" class="btn btn-danger" > Delete </button>
                            </form>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>
