@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(Model.ShortenDatas == null || !Model.ShortenDatas.Any())
    {
        <h3 class="text-center">No data avaialable</h3>
    }
    else
    {
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col"> Url Long</th>
                    <th scope="col"> Short Code </th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Updated At</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model!.ShortenDatas!)
                {
                    <tr>
                        <td>@data.Id</td>
                        <td>@data.Url</td>
                        <td>@data.ShortCode</td>
                        <td>@data.CreatedAt</td>
                        <td>@data.UpdatedAt</td>
                        <td>
                            <a asp-page="/Redirect" asp-route-redirectString="@data.ShortCode">@(Request.Host+"/"+data.ShortCode)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>
